@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

body{
  height: 100vh;
  background-image: radial-gradient(circle at 50% -20.71%, #a4d8ec 0, #a7d7ef 6.25%, #abd6f1 12.5%, #b0d5f3 18.75%, #b5d3f4 25%, #bbd2f4 31.25%, #c1d0f4 37.5%, #c7cff3 43.75%, #cdcdf2 50%, #d3cbf0 56.25%, #d9caed 62.5%, #dec8ea 68.75%, #e3c7e7 75%, #e8c6e3 81.25%, #ecc5df 87.5%, #efc4da 93.75%, #f2c4d6 100%);
  display: flex;
  justify-content: center;
  align-items: center;
}

.relogio{
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 200px;
  width: 550px;
  background: transparenta;
  border-radius: 3px;
  box-shadow: 0px 8px 10px rgba(0, 0, 0, .5);
}

.relogio div{
  height: 170px;
  width: 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(5, 5, 5, .9);
  color: #fff;
  border-radius: 7px;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.157);
  letter-spacing: 3px;
}

.relogio span{
  font-size: 60px;
  font-weight: bolder;
}

.relogio span.tempo{
  font-size: 10px;
}